.main{
    display: flex;
    height:50rem;
    border: 5px solid black;
    justify-content: space-around;
}

.nameholder{
    border:1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.holder{
    margin-right: 0px;
}