
.navbar{
    display: flex;
    position: fixed;
    width: 100%;
    top:"0";
    justify-content: space-between;
    /* background:#7031BD; */
    border: 1px solid red;
}


.navbar:hover{
    color:white;
    background-color: grey;
}

.name{
    margin-left: 1rem;
}

.buttoncluster{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: left;
    margin-right: 1rem;
}

.buttons{
    margin: 10px;
    padding: 10px;
    border: none;
    background: transparent;
    /* color: brown; */
}

.buttons:hover{
    background: black;
    color: white;
     transform: scale(1.2);
}

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    --background: #28096b;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #fff000;
    background: var(--background);
    transition: .5s;
  }
  
  input:checked + .slider {
    background-color: #522ba7;
  }
  
  input:checked + .slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #fff000;
  }

@media only screen and (max-width:500px){
    .buttoncluster{
        display: none;
    }
    .name{
        margin-left: 40%;
        /* align-items: center; */
    }
}
